<hr>
  {{> navbar}}
<hr>
<h2>List of all cocktails</h2>
<div class="list-cocktails">
{{#each listofRecipes}}
  <div class="show-coctails">
  <h3>Cocktail: {{this.title}}</h3>
  <ul>
    <li>Rating: {{this.rating}}</li>
    <li>Servings: {{this.servings}}</li>
    <li>Incridents: {{this.ingredients}}</li>
    <li>How to mix it: {{this.description}}</li>
    <li>Creator: {{this.owner.username}}</li>
    <li>Reviews:
      {{#each this.reviews}}
        <p>- {{comment}}</p>
      {{/each}}
    </li>
    <img src="{{this.imageUrl}}" alt="there should be an image here :-)" width="150px">

    <form action="/comment/{{this._id}}" method="POST">
    <button type="submit">Comment this cocktail</button>
    </form>
  </ul>
  </div>
{{/each}}
</div>