<hr>
  {{> navbar}}
<hr>
<h2>Here you can edit your recipe</h2>
<h3>Edit your recipe</h3>
<form class="recipe-form" action="/edit-recipes/{{cocktail._id}}/edit" method="post">
    <label for="">title</label>
    <input type="text" name="title" id="" value="{{cocktail.title}}">

    <label for="">servings</label>
    <input type="text" name="servings" id="" value="{{cocktail.servings}}">

    <label for="">rating</label>
    <input type="text" name="rating" id="" value="{{cocktail.rating}}">

    <label for="">ingredients</label>
    <textarea name="ingredients" id="" cols="30" rows="10">{{cocktail.ingredients}}</textarea>

    <label for="">Description</label>
    <textarea name="description" id="" cols="30" rows="10"> {{cocktail.description}} </textarea>


    <button type="submit">Save changes</button>
  </form>