<hr>
{{> navbar}}
<hr>
<h2>Here you can edit your recipe</h2>
  <div class="form-boxed">
<h3>Edit your recipe</h3>
<form class="recipe-form" action="/edit-recipes/{{cocktail._id}}/edit" method="post">
  <label for="">Title</label><br>
  <input type="text" name="title" id="" value="{{cocktail.title}}"><br>

  <label for="">Servings</label><br>
  <input type="text" name="servings" id="" value="{{cocktail.servings}}"><br>

  <label for="">Rating</label><br>
  <input type="text" name="rating" id="" value="{{cocktail.rating}}"><br>

  <label for="">Image URL</label><br>
  <input type="url" name="imageUrl" id="" value="{{cocktail.imageUrl}}"><br>

  <label for="">Ingredients</label><br>
  <textarea name="ingredients" id="" cols="30" rows="10">{{cocktail.ingredients}}</textarea><br>

  <label for="">Description</label><br>
  <textarea name="description" id="" cols="30" rows="10"> {{cocktail.description}} </textarea><br>
  <button type="submit">Save changes</button>
</form>
</div>